#header {
    height: 70px;
    background-color: blue;
    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    align-items: center;
}

body {
    margin: 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#brand-logo {
    color: white;
    font-size: 30px;
}

#home-content {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.input-group{
    display: flex;
}

#first-name{
    width: 100%;
    box-sizing: border-box;

}

#surename {
    width: 100%;
    box-sizing: border-box;

}

#mobile-or-email{
    margin-top: 15px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}