/* CSS Flexbox Demo */

.container {
    width: 500px;
    height: 500px;
    background-color: aqua;

    display: flex;
    /* vertical */
    justify-content: flex-end;
    /* horizontal */
    align-items: center;
}

.small-box {
    height: 100px;
    width: 100px;
    background-color: green;

    border: 5px solid black;
}

/* CSS Grid System Demo */

.container-gs {
    width: 500px;
    height: 500px;
    background-color: aqua;

    display: grid;
    /* vertical */
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}

.small-box-gs {
    background-color: green;
    border: 5px solid black;

    grid-column-start: 3;
    grid-column-end: 5;

}
